<div class="container">
  <div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div>
      <h4 align="center">{{ FoundArtist.artist }}</h4>
      <div class="artist-img" align="center">
        <img
          src="{{ FoundArtist.artistImage }}"
          class="img-responsive"
          height="150px"
        />
      </div>
      <button
        class="btn btn-outline-info"
        (click)="onAdd()"
        *ngIf="!hasArtistImage"
      >
        Add Artist Image
      </button>
      <button
        class="btn btn-outline-danger"
        *ngIf="showForm"
        (click)="onCancel()"
      >
        Cancel
      </button>
      <div class="div" *ngIf="showForm">
        <form (ngSubmit)="onSubmit(AI)" #AI="ngForm">
          <div class="form-group">
            <label for="Image Link">Image Url</label>
            <input
              type="text"
              class="form-control"
              name="url"
              ngModel
              required
            />
          </div>
          <button type="submit" class="btn btn-outline-info">
            Add
          </button>
        </form>
      </div>
      <div class="row">
        <div
          class="col-6 col-sm-4 col-md-4 col-lg-3"
          *ngFor="let song of FoundArtist.songs; let i = index"
          (click)="onSelect(song)"
        >
          <div class="card">
            <img
              src="{{ song.albumArt }}"
              class="card-img-top img-responsive"
              align="center"
            />
            <div class="play">
              <button class="btn btn-success" (click)="onSelect(song)">
                <img src="../../../assets/play-circle.svg" />
              </button>
              <div class="spacer"></div>
              <button class="btn btn-info">
                <img src="../../../assets/plus-square.svg" />
              </button>
            </div>
            <h6 class="card-title" align="center">{{ song.name }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
