.container {
  margin-top: 20px;
  .col-md-6 {
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    padding: 0px;
  }
  .main-toolbar {
    border-radius: 10px 10px 0 0;
    .spacer {
      flex: 1 1 auto;
    }
    .toolbar-btn {
      font-size: 16px;
      margin-right: 5px;
      cursor: pointer;
    }
  }

  .content {
    .logo {
      margin: 2.5rem;
      text-align: center;
      font-size: 24px;
      color: #3f51b5;
      .mat-icon {
        height: 100px !important;
        width: 100px !important;
        font-size: 100px !important;
      }
    }
  }

  .media-footer {
    bottom: 0;
    width: 100%;
    .time-slider {
      width: 100% !important;
      margin-left: 20px;
      margin-right: 20px;
    }
    .media-action-bar {
      width: 100%;
      padding: 2.5rem;
      justify-content: center;
      .mat-icon {
        height: 48px !important;
        width: 48px !important;
        font-size: 48px !important;
      }
    }
  }
}
