/* .authpage {
  min-height: 100vh;
  width: 100%;
  background: url("../../assets/john-matychuk-gUK3lA3K7Yo-unsplash.jpg")
    no-repeat center center fixed;
  background-size: cover;
  /* opacity: 0.65; */
/*} */
/* 
@media (max-width: 800px) {
  .authpage {
    background-image: url("https://images.unsplash.com/photo-1484876065684-b683cf17d276?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
    background-size: 100vh;
  }
} */
body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
}

#landing-header h1 {
  color: #fff;
}

.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 30s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url("../../assets/felipe-portella-h6gTtqBZUxc-unsplash.jpg");
}
.slideshow li:nth-child(2) {
  background-image: url("../../assets/2.jpg");
  animation-delay: 6s;
}
.slideshow li:nth-child(3) {
  background-image: url("../../assets/felipe-portella-h6gTtqBZUxc-unsplash.jpg");
  animation-delay: 12s;
}
.slideshow li:nth-child(4) {
  background-image: url("../../assets/4.jpg");
  animation-delay: 18s;
}
.slideshow li:nth-child(5) {
  background-image: url("../../assets/5.jpg");
  animation-delay: 24s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
  opacity: 1;
}

.form {
  width: 350px;
  margin-top: -900px;
  background-image: linear-gradient(rgba(255, 255, 255), rgba(128, 128, 128));
  /* background-color: rgb(0, 162, 255); */
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  animation: opening 1s forwards;
}
@keyframes opening {
  from {
    margin-top: -900px;
  }
  to {
    margin-top: 200px;
  }
}

.form img {
  z-index: 900;
  width: 200px;

  margin-left: 55px;
  margin-bottom: 1rem;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
  box-shadow: 0px 0px 5px red;
}

input.ng-valid {
  border: 1px solid green;
  box-shadow: 0px 0px 5px green;
}
