.container {
  margin-top: 1rem;
}
.space {
  width: 1rem;
  display: inline-block;
}

button {
  float: right;
}

.btn-created {
  transition: 0.5s ease;
  height: 50px;
  width: 50px;
  padding: 0;
  opacity: 0;
  align-items: center;
}

a:hover .btn-created {
  opacity: 1;
}

#delete:hover {
  background-color: rgb(230, 5, 5);
}

#play:hover {
  background-color: greenyellow;
}
mat-spinner {
  margin: auto;
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: black;
}

@media screen and (max-width: 768px) {
  small.text-muted {
    display: none;
  }
}

/* small.text-muted{

} */
