.container {
  margin-top: 20px;
  border: 1px solid rgb(192, 189, 189);
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
  position: relative;
}
a {
  border: 0;
}
img {
  height: 100px;
  border-radius: 50%;
  border: 2px solid grey;
}
