<div class="container">
  <h4 align="center">Artists</h4>
  <div *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div class="artists" align="center">
      <div *ngFor="let artist of artists | shuffle | slice: 0:4; let i = index">
        <a
          class="list-group-item"
          (click)="fetchSong(artist)"
          style="cursor: pointer;"
        >
          <div class="img" *ngIf="artist.artistImage">
            <img src="{{ artist.artistImage }}" />
          </div>

          {{ artist.artist }}
        </a>
      </div>
    </div>
  </div>
</div>
